<div class="jumbotron">
  <h2>Edit Hackathon</h2>
</div>

<div class="jumbotron">
  <form action="/hackathons/<%= "#{@hackathon.id}"%>" method="post">
    <input type="hidden" name="_method" value="update">
      <div class="container">
        <label for="hackathon[title]" class="newform">{ Title }</label><br>
        <input class="form" name="hackathon[title]" value="<%= @hackathon.title %>">
      </div>
      <div class="container">
        <label for="hackathon[location]" class="newform">{ Location }</label><br>
        <input class="form" name="hackathon[location]" value="<%= @hackathon.location %>">
      </div>
      <div class="container">
        <label for="hackaton[description]" class="newform">{ Description }</label><br>
        <textarea name="hackathon[description]" class="form-control" rows="3">
          <%= @hackathon.description %>
        </textarea>
      </div>
      <div class="container">
        <label for="hackathon[date]" class="newform">{ Date of Event }</label><br>
        <input class="form" name="hackathon[date]" value="<%= @hackathon.date %>">
      </div>
      <div class="container">
        <label for="hackathon[image]" class="newform">{ Image }</label><br>
        <input class="form" name="hackathon[image]" value="<%= @hackathon.image %>">
      </div>
      <br>
      <div class="container">
        <button type="submit" class="btn btn-primary">Done Editing</button>
      </div>
  </form>
</div>
