<h2>Edit Hackathon</h2>

<form action="/hackathons/<%= "#{@hackathon.id}"%>" method="post">
  <input type="hidden" name="_method" value="update">
    <label for="hackathon[title]">Title:</label>
    <input name="hackathon[title]" value="<%= @hackathon.title %>">

    <label for="hackathon[location]">Location:</label>
    <input name="hackathon[location]" value="<%= @hackathon.location %>">

    <label for="hackaton[description]">Description:</label>
    <input name="hackathon[description]" value="<%= @hackathon.description %>">

    <label for="hackathon[date]">Date of Event:</label>
    <input name="hackathon[date]" value="<%= @hackathon.date %>">

    <label for="hackathon[image]">Logo:</label>
    <input name="hackathon[image]" value="<%= @hackathon.image %>">
  <input type="submit" value="Edit" class="btn">
</form>
