<h2>Hackathons</h2>

<div class="hackathons container jumbotron">
  <% @hackathons.each do | hackathon | %>
  <div class="col-md-4">
    <%= hackathon.image %>
  </div>
  <div class="row col-md-8" id="<%=hackathon.id%>">
    <h3>
      <a href="/hackathons/<%= hackathon.id %>">
        <%= hackathon.title %>
      </a>
    </h3>
    <p>
      <%= hackathon.description %>
    </p>
    <p>
      <form action="/hackathons/<%= hackathon.id %>/upvote" method="post">
        <button type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        </button>
      </form>
    </p>
  </div>
  <% end %>
</div>
