<script src="/app.js"></script>
<div class="jumbotron container-fluid">
  <div class="container" id="headerindex">
    <h1>Vote for your favorite hackathon</h1>
  </div>
  <div class="container" id="subheaderindex">
    <p>Some information for the user about what this page is but it should be pretty staight forward that they are able to cast a vote!</p>
    <p>Today was also primaries and I want to see what another paragraph tag would look like here...</p>
  </div>

  <div class="index-header">
    <div class="container-fluid col-md-4 col-md-offset-1">
      <h2>Hackathons</h2>
    </div>
    <div class="container-fluid col-md-offset-10">
      <% if @current_user %>
        <h2><a href="/hackathons/new" class="lnavbar"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></h2>
      <% end %>
    </div>

  </div>

  <div class="hackathons container-fluid">
    <% @hackathons.each do | hackathon | %>
    <div class="row container-fluid jumbotron" id="<%=hackathon.id%>">
      <div class="col-md-1" id="arrows">
        <!--PARENT TO FORM -->
        <form action="/hackathons/<%= hackathon.id%>/vote" method="post">
          <button type="submit" class="vote_btn_up btn" id="arrowUp">
            /\
          </button>
        </form>
        <p class="points" id="points">
          <%= hackathon.points %>
        </p>
        <form action="/hackathons/<%= hackathon.id%>/downvote" method="post">
          <button type="submit" class="vote_btn_down btn" id="arrowDown">
            \/
          </button>
        </form>
      </div>
      <div class="col-md-4 image">
        <a href="/hackathons/<%= hackathon.id %>" class="thumbnail">
          <img src="<%= hackathon.image %>" alt="IMAGE" class="image"/>
        </a>
      </div>
      <div class="title col-md-8">
        <h3 id="title">
          <%= hackathon.title %>
        </h3>
        <p>Description:</p>
        <div class="description">
          <%= hackathon.description %>
        </div>
        <br>
        <p>Location:</p>
        <div class="location">
          <%= hackathon.location %>
        </div>
      </div>
    </div>
    <% end %>
    <!-- <script type="text/javascript">
      findingJson(<%= @hackthons.to_json %>);
    </script> -->
  </div>
</div>
