<div class="container">
  <h2>Hackathons</h2>
</div>

<div class="hackathons container">
  <% @hackathons.each do | hackathon | %>
  <div class="row container-fluid" id="<%=hackathon.id%>">
    <div class="col-md-1">
      <form action="/hackathons/<%= hackathon.id%>/vote" method="post">
        <input type="hidden" name="_method" value="put">
        <input type="submit" value="⇡" class="upArrow">
      </form>
      <%= hackathon.points %>
      <form action="/hackathons/<%= hackathon.id%>/downvote" method="post">
        <input type="hidden" name="_method" value="put">
        <input type="submit" value="⇣" class="downArrow">
      </form>
    </div>
    <div class="col-md-2 image">
      <a href="/hackathons/<%= hackathon.id %>">
        <img src="<%= hackathon.image %>" alt="IMAGE" class="image"/>
      </a>
    </div>
    <div class="title col-md-8">
      <h3 id="title">
        <%= hackathon.title %>
      </h3>
      <p>
        <%= hackathon.description %>
      </p>
    </div>
  </div>
  <% end %>
</div>
