<h2><%= @hackathon.title %></h2>
<p><%= @hackathon.location %></p>
<p><%= @hackathon.description %></p>
<p><%= @hackathon.date %></p>
<p><%= @hackathon.image %></p>
<div class="edit_buttons">
  <div>
    <a href="/hackathons/<%= @hackathon.id %>/edit"><button class="btn">Edit</button></a>
  </div>
  <div>
    <form action="/hackathons/<%= @hackathon.id %>/delete" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete?" class="btn">
    </form>
  </div>
</div>
