<div class="container-fluid">
  <div class="container col-md-5" id="hackImage">
    <p><img src="<%= @hackathon.image %>" alt="HACKATHON LOGO" class="hackImage thumbnail" /></p>
  </div>
  <div class="col-md-7" id="profileTitle">
    <h1><%= @hackathon.title %></h1>
  </div>
  <div>
    <div class="col-md-6 btn-group btn-group-lg">
      <a href="/hackathons/<%= @hackathon.id %>/edit">
        <button class="btn btn-success" id="editButton">Edit Hackathon</button>
      </a>
      <form action="/hackathons/<%= @hackathon.id %>/delete" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete Hackathon" class="btn btn-danger" id="editButton">
      </form>
    </div>
    <div class="votes col-md-6" id="profileVotes">
      <h3>Number of votes: <%= @hackathon.points %></h3>
    </div>
  </div>
</div>
<div class="jumbotron container-fluid" id="hackInfo">
  <div class="location">
    <h3>Location:</h3>
    <p><%= @hackathon.location %></p>
  </div>
  <div class="info">
    <h3>Description:</h3>
    <p><%= @hackathon.description %></p>
  </div>
  <div class="date">
    <h3>Date:</h3>
    <p><%= @hackathon.date %></p>
  </div>
</div>
